################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SPWNRightClickRunner
/SPWNRightClickRunner/bin
/SPWNRightClickRunner/obj
